snippet <castle
<castle>
	<components>
		${1}
	</components>
</castle>
endsnippet

snippet <component
<component
	id="${1}"
	service="${2}"
	type="${3}"
	lifestyle="singleton">
</component>
endsnippet
